{% extends 'base.html' %}
{% block title %}Main Page{% endblock %}
{% load static %}
{% block content %}
<form action="{% url 'thanks' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>
<br>
<br>
<img src="{% static 'img/img001.jpg' %}" alt="" style="width: 200px;">

{% if order_list %}

    <table border="1">

        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>
{% for obj in order_list %}
        <tr>
            <th>{{obj.id}}</th>
            <th>{{obj.order_date}}</th>
            <th>{{obj.order_name}}</th>
            <th>{{obj.order_phone}}</th>
        </tr>
{% endfor %}
    </table>
{% else %}
<h3>Данные отсутсвуют</h3>
{% endif %}

{% endblock %}