{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% load static %}



{% block feedback %}
<section>
    <div class="container m_b-10 text-center">
        <h3 class="">Оставьте заявку</h3>
        <div class="form-container">
            <form action="{% url 'thanks' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-primary">Отправить</button>
            </form>
            <br>

            <br>
        </div>
    </div>
</section>
{% endblock %}






