<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
</head>
<body>
    

    <table border="1">

        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>
{% for obj in order_list}
        <tr>
            <th>{{obj.id}}}</th>
            <th>{{obj.order_date}}</th>
            <th>{{obj.order_name}}</th>
            <th>{{obj.order_phone}}</th>
        </tr>
{% %}
    </table>

</body>
</html>